<div class="main-container">

  <div class="form-container">
    <form [formGroup]="form" (ngSubmit)="createStudent()">
      <mat-form-field class="main-form-fio">
        <mat-label>Фамилия Имя</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="3"
                  formControlName="name"
        >

        </textarea>
      </mat-form-field>

      <mat-form-field >
        <mat-label>Группа</mat-label>
        <mat-select placeholder="Выберите группу" formControlName="group"
        >
          <mat-option *ngFor="let g of groupSelect" [value]="g">
            {{ g.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button type="submit" color="accent"
              class="submit-button"
              [disabled]="form.invalid || submitted"
      >
        Добавить студента
      </button>
    </form>
  </div>

  <mat-form-field class="search">
    <mat-label>Поиск</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Прим. ПКС-31">
  </mat-form-field>

  <table id="studentsTable"
         mat-table [dataSource]="dataSource"
         matSort class="mat-elevation-z1"
  >

    <ng-container matColumnDef="position"  >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Фамилия Имя </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Group Column -->
    <ng-container matColumnDef="group">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Группа </th>
      <td mat-cell *matCellDef="let element" > {{element.group}} </td>
    </ng-container>

    <ng-container matColumnDef="deleteButtons" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element">
        <button class="deleteStudentButton" mat-button color="warn" (click)="deleteStudent(element._id)">Удалить</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
