.main-container {
  width: 100%;
  margin: 3% auto auto 21%;
}

mat-form-field {
  margin: auto;
  width: 14%;
  padding: 0.1em 1em;
  font-size: larger;
}

.form-container {
}

table {
  margin-top: 1em;
  width: 60%;
  margin-bottom: 10%
}

th {
  background:  #ff4081;
  color: white;
}

.submit-button {
  padding: 0 1rem;
  margin-left: 1rem;
}

.main-form-fio {
  width: 15%
}

.deleteStudentButton {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.mat-cell {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-left: 5%
}

